.feed_title {
  font-size: 1rem;
  color: #3b3a3a;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
}

.feed_title span {
  background-color: #2766cc;
  border-radius: 0.28571429rem;
  font-size: 1rem;
  font-weight: normal;
}

.product_name {
  color: #383838;
  font-weight: 600;
  font-size: 0.875rem;
}

.add_product {
  background-color: transparent;
  color: #2666cc;
  border: 1.5px solid #2666cc;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 0.8rem;
}

.feed .product_image {
  height: 7rem;
  object-fit: cover;
}

.product_price {
  font-size: 0.875rem;
}

@media only screen and (max-width: 600px) {
  .feed .product_image {
    height: 10rem;
    object-fit: cover;
  }
}


@media only screen and (max-width: 480px) {
  .feed .product_image {
    height: 7rem;
    object-fit: cover;
  }
}