html {
  scroll-behavior: smooth;
}
.app {
  line-height: 1.4285em;
  color: #000000de;
  font-family: "Rubik", sans-serif;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.btn_primary {
  background-color: #f8de4b;
  color: #2766cc;
}

.btn_transparent {
  background-color: transparent;
  border: 3px solid #2766cc;
  color: #2766cc;
}

